body, h2, textarea, button, table {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background: linear-gradient(135deg, #f3e5f5, #e1bee7, #c5cae9);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  overflow-y: auto;
}

.main-container {
  width: 600px;
  padding: 30px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-height: 90vh;
  overflow-y: auto;
}

.title {
  color: #5e35b1;
  font-size: 28px;
  margin-bottom: 25px;
}

.input-container {
  margin-bottom: 25px;
}

.code-input {
  width: 100%;
  height: 200px;
  background-color: #f3e5f5;
  border: 1px solid #d1c4e9;
  border-radius: 10px;
  color: #7b1fa2;
  padding: 15px;
  font-size: 16px;
  resize: none;
}

.code-input::placeholder {
  color: #b39ddb;
}

.analyze-button {
  width: 100%;
  padding: 15px;
  background-color: #d1c4e9;
  color: #5e35b1;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 15px;
}

.analyze-button:hover {
  background-color: #b39ddb;
}

.results-container {
  margin-top: 25px;
  max-height: 300px; /* Limitar la altura máxima de la tabla */
  overflow-y: auto; /* Hacer la tabla desplazable si es necesario */
}

.table-box {
  overflow-x: auto;
}

.container-table {
  width: 100%;
}

.results-table {
  width: 100%;
  border-collapse: collapse;
  color: #5e35b1;
  font-size: 16px;
}

.results-table th, .results-table td {
  padding: 15px;
  border: 1px solid #d1c4e9;
  text-align: center;
}

.results-table th {
  background-color: #7b1fa2;
  color: #ffffff;
}

.results-table tr:nth-child(even) {
  background-color: #f3e5f5;
}

.results-table tr:nth-child(odd) {
  background-color: #e1bee7;
}

.results-table tr:hover {
  background-color: #d1c4e9;
}
