:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-weight: 400;

  --black: #0D0A0F;
  --main-dark: #1C181D;
  --dark-grey: #343434;
  --secondary-green-dark: #36332E;
  --dark-wine: #7D433D;
  --musg-orange: #AB553D;
  --musg-green: #7E7B68;
  --secondary-musg-green: #908E77;
  --secondary-cream:#D9D8CE;
  --main-cream:#FBFBF8;

  color:var(--main-cream);
  background-color: var(--main-dark);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout {
  display: grid;
  grid:
    "sidebar body" 1fr
    / 400px 1fr;
  gap: 8px;
  height: 100vh;
}





