/* Fuentes */
@font-face {
  font-family: 'Subjectivity-Bold';
  src: url('../fonts/Subjectivity-Bold.otf') format('opentype');
}

.work-sans-regular {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-style: normal; 
}

/* --- VARIABLES --- */
/* Modo claro */
:root {
  --body-bg: #f7f8f8;
  --body-color: #25262c;
  --secondary-bg: #eeeef0;
  --secondary-color: #737984;
  --secondary-border: #b7bac2;
  --accent-bg: #676c79;
  --accent-color: #bebfc4;
  --logo-github: rgba(156, 156, 156, 0.2);
  --font-family-main: 'Work Sans', sans-serif;
  --font-family-secondary: 'Subjectivity-Bold', sans-serif;
}

/* Modo oscuro */
[data-theme="dark"] {
  --body-bg: #25262c;          /* Color de fondo (oscuro) */
  --body-color: #f7f8f8;       /* Color de texto (claro) */
  --secondary-bg: #393b41;     /* Color de fondo secundario (más oscuro) */
  --secondary-color: #d4d8de;  /* Color secundario de texto (más claro) */
  --secondary-border: #5c5f64;  /* Color de borde secundario (más claro) */
  --accent-bg: #b1b7c0;        /* Color de fondo acentuado (más claro) */
  --accent-color: #313438;
  --logo-github: rgba(99, 99, 99, 0.466);
}

/* --- ESTILOS GENERALES --- */
body {
  font-family: var(--font-family-main);
  background-color: var(--body-bg);
  color: var(--body-color);

}

/* 1. HEADER */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--body-bg);
  padding:  25px;
  border-bottom: 1px solid #ccc;
  position: relative;
}

header h1 {
  position: absolute;
  left: 50%; 
  transform: translateX(-50%);
  color: var(--body-color);
  font-family: var(--font-family-secondary);
}

.options {
  margin-left: auto; 
  display: flex;
  align-items: center;
  gap: 25px;
}

/* Github Link */
.Btn {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  /* overflow: hidden; */
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  border: 1px solid rgba(156, 156, 156, 0.466);
  position: relative; 
  z-index: 2; 
}

.BG {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #181818;
  z-index: 1; 
  border-radius: 10px;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.Btn:hover .BG {
  transform: rotate(15deg); 
  transform-origin: bottom;
}

.Btn:hover .svgContainer {
  background-color: rgba(156, 156, 156, 0.2); 
  backdrop-filter: blur(4px);
}

/* Light/Dark Mode */
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
  cursor: pointer;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  --background: #203c58;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: 0.5s;
  border-radius: 30px;
  border: 1px solid var(--body-color);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #ececd9, -4px 1px 4px 0px #dadada;
  background: var(--background);
  transition: 0.5s;
}

.decoration {
  position: absolute;
  content: "";
  height: 2px;
  width: 2px;
  border-radius: 50%;
  right: 20%;
  top: 15%;
  background: #e5f041e6;
  backdrop-filter: blur(10px);
  transition: all 0.5s;
  box-shadow: -7px 10px 0 #e5f041e6, 8px 15px 0 #e5f041e6, -17px 1px 0 #e5f041e6,
    -20px 10px 0 #e5f041e6, -7px 23px 0 #e5f041e6, -15px 25px 0 #e5f041e6;
}

input:checked ~ .decoration {
  transform: translateX(-20px);
  width: 10px;
  height: 10px;
  background: white;
  box-shadow: -12px 0 0 white, -6px 0 0 1.6px white, 5px 15px 0 1px white,
    1px 17px 0 white, 10px 17px 0 white;
}

input:checked + .slider {
  background-color: #5494de;
}

input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #efdf2b, 0 0 10px 0px #efdf2b;
}

/* 2. FORM */
form {
  
}

/* 3. RESULTS */
.results-container {
  
}

/* 4. FOOTER */
footer {
  
}

