/* --------- TABLE --------- */
/* From Uiverse.io by Rodrypaladin */ 
.card {
  width: 320px;
  height: 480px;
  background: var(--main-dark);
  border: 2px solid var(--black);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 20px 15px;
  overflow: auto;
  margin: 0 15px;
}

.card_title {
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-bottom: 1px solid rgb(167, 159, 159);
  font-size: 0.95rem;
}

.card_data {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  border-right: 1px solid rgb(203, 203, 203);
  border-left: 1px solid rgb(203, 203, 203);
  border-bottom: 1px solid rgb(203, 203, 203);
}

.card_right {
  width: 60%;
  border-right: 1px solid rgb(203, 203, 203);
}

.card_left {
  width: 40%;
  text-align: end;
}

.item {
  padding: 3px 0;
  background-color: white;
}

.card_right .item {
  padding-left: 0.8em;
}

.card_left .item {
  padding-right: 0.8em;
}

.item:nth-child(even) {
  background: rgb(234, 235, 234);
}

