<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Analizador Léxico</title>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
</head>
<body>
  <div class="main-container">
    <h2 class="title">Análisis Léxico</h2>

    <!-- Formulario para ingresar el código -->
    <form method="POST">
      <div class="input-container">
        <textarea name="code" class="code-input" placeholder="Inserta tu código aquí..."></textarea>
      </div>
      <button type="submit" class="analyze-button">Analizar</button>
    </form>

    <div class="results-container">
      <div class="table-box">
        <div class="container-table">
          <table class="results-table">
            {% if tokens %}
              <tr>
                <th>Token</th>
                <th>Lexema</th>
                <th>Línea</th>
              </tr>
              {% for token in tokens %}
              <tr>
                <td>{{ token[0] }}</td>
                <td>{{ token[1] }}</td>
                <td>{{ token[2] }}</td>
              </tr>
              {% endfor %}
            {% else %}
            <tr><td colspan="3">No se encontraron tokens</td></tr>
            {% endif %}
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
