<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Analizador Léxico</title>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
</head>
<body>
  <div class="container">
    <h2>Análisis Léxico</h2>

    <!-- Formulario para ingresar el código -->

    <form method="POST">
      <div class="input-container">
        <textarea name="code" placeholder="Inserta tu código aquí..."></textarea>
      </div>
      <button type="submit">Analizar</button>
    </form>

    <div class="container-2">
      <div class="box">
        {% if tokens %}
        {% for caracter, simbolo in tokens %}
          <p>{{ simbolo }}</p>
        {% endfor %}
        {% else %}
          <p>No se encontraron Tokens</p>
        {% endif %}
      </div>

      <div class="box">
        <div class="container-table">
          <table>
            {% if tokens %}
              <tr>
                <th>Caracteres</th>
                <th>Simbolos</th>
              </tr>
              {% for caracter, simbolo in tokens %}
              <tr>
                <td>{{caracter}}</td>
                <td>{{simbolo}}</td>
              </tr>
              {% endfor %}
            {% else %}
            <tr><td colspan="2">No se encontro tokens</td></tr>
            {% endif %}
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
</html>